body
{
    font-family: Montserrat, sans-serif;
    background-color: black;
}

.navbar 
{
    
    
    background-color: #c20000 !important;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
}

  .navbar li a, .navbar .navbar-brand 
{
    color: #fff !important;
}
  
  .navbar li a:hover, .navbar-nav li a:active
{
    color: #c20000 !important;
    background-color: #fff !important;
}
  
  .navbar-default .navbar-toggle 
{
    border-color: transparent;
    color: #fff !important;
}

.search
{
    margin-top: 13px;
    margin-right: 20px;
    background-color: black;
    border-radius: 15px;
}

.searchbox
{
    height: 24px;
    width: 160px;
    padding-left: 8px;
    border: 0;
    
    background: none;
    outline: none;
}

.searchbtn
{
    background: none;
    margin: 5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

i:hover
{
    background: black;
    color: white;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin: 150px;
} 

  .image
  {
    min-width: 30%;
    flex-grow: 1;
    transition: 0.2s;  
    padding: 0 2vw 4vw;
    margin: 20px 10px 20px;
  }


  .image:hover
  {
    transform: scale(1.1)
  }
  
  
  
  
