body
{
    font-family: Montserrat, sans-serif;
    background-color: black;
}

.navbar 
{
    
    
    background-color: #c20000 !important;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
}

  .navbar li a, .navbar .navbar-brand 
{
    color: #fff !important;
}
  
  .navbar li a:hover, .navbar-nav li a:active
{
    color: #c20000 !important;
    background-color: #fff !important;
}
  
  .navbar-default .navbar-toggle 
{
    border-color: transparent;
    color: #fff !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: center;
    align-items: center;
   
    margin: 150px;
  } 

  .image
  {
    transition: 0.2s;  
    padding: 0 20px 40px;
  }

  .image:hover
  {
    transform: scale(1.1)
  }
