*
{
    font-family: Montserrat, sans-serif;
}

.navbar 
{
    background-color: #dc0000;
    border: 0;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 4px;
}
  
/* navbar list and logo */
.navbar-nav li a, .navbar .navbar-brand 
{
    color: #fff;
}
  
/* Invert colours upon hovering */
.navbar-nav li a:hover, .navbar-nav li a:active
{
    color: #dc0000;
    background-color: #fff;
}
  
/* button upon collapsing */
.navbar-default .navbar-toggle 
{
    border-color: transparent;
    color: #fff;
}
